<div class="cart_title">Your Wonderful Cart</div>

<% if notice %>
<div id="notice"><%= notice %></div>
<% end %>

<% if flash[:price_changed] %>
  <div class="notice">
    The price of <%= flash[:line_item].product.title %> has changed to <%= number_to_currency(flash[:line_item].product.price) %>.
     The current price will be applied to all copies of it in your cart.
  </div>
<% end %>
<table>
  <%= render(@cart.line_items) %>
  
  <tr class="total_line">
    <td colspan="2" class="total_label">Total:</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>


<%= button_to "Empty Cart", @cart, :method => :delete, :confirm => "Are you sure? All items in your cart will go g'byebye!" %>
