<div class="cart_title">Your Wonderful Cart</div>

<% if notice %>
<div id="notice"><%= notice %></div>
<% end %>

<% if flash[:price_changed] %>
  <div class="notice">
    The price of <%= flash[:line_item].product.title %> has changed to <%= number_to_currency(flash[:line_item].product.price) %>.
     The current price will be applied to all copies of it in your cart.
  </div>
<% end %>
<table>
  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %> &times; </td>
      <td><%= item.product.title %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
      <td><%= button_to "Remove", {:controller => 'line_items', :action => 'destroy', :id => item.id } ,{:method => :delete, :confirm => "Really? I mean, really?"}%></td>
    </tr>
  <% end %>
  
  <tr class="total_line">
    <td colspan="2" class="total_label">Total:</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>


<%= button_to "Empty Cart", @cart, :method => :delete, :confirm => "Are you sure? All items in your cart will go g'byebye!" %>
